@font-face {
  font-family: 'Inter-Regular';
  src: url('./assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./assets/fonts/static/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./assets/fonts/static/Inter-Bold.ttf');
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  border: 0;
}

#backdrop {
  background-color: #141414;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  background-color: #1f1f1f;
  width: 350px;
  height: 550px;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#avatar-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

#avatar-icon {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

#name {
  color: #fff;
  font-family: 'Inter-SemiBold';
  font-size: 25px;
  margin: 20px 0 0 0;
}

#location {
  color: #c5f82a;
  font-family: 'Inter-SemiBold';
  font-size: 14px;
  margin: 10px 0;
}

#description {
  color: #fff;
  font-family: 'Inter-Regular';
  font-size: 14px;
  margin: 20px 0 10px 0;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-link {
  color: #fff;
  font-size: 14px;
  font-family: 'Inter-Bold';
  background-color: #333333;
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 10px;
  margin: 8px 0;
  cursor: pointer;
}

.social-link:hover {
  color: #333333;
  background-color: #c5f82a;
}

@media screen and (max-width: 425px) {
  #card {
    width: 275px;
    height: 60vh;
    padding: 1.5rem;
    min-height: 500px;
  }
}